ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 12px;
    color: white;
    background-color: gray;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
}

li a:hover {
    background-color: darkgray;
}

.active {
    background-color: black;
}