ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px 12px;
    color: white;
    background-color: black;
    text-decoration: none;
}

li a:hover {
    background-color: darkgray;
}

.active {
    background-color: #454545;
}