body {
  background-color: lightblue;
  margin: 0;
}

p {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: blue;
    color: white;
    margin: 10px;
    padding-bottom: 20px;
    width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030064;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

ul li a:hover {
  background-color: #0000b2;
}

.active {
  background-color: blue;
}

.center {
  display: block;
  margin: auto;
}

#centerDiv {
  display: flex;
  justify-content: center;
}